.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.searchBar {
    margin: 30px;
    text-align: center;
}

.searchBar input {
    border: 1px solid #ccc;
    height: 50px;
    width: 300px;
    border-radius: 30px;
    margin-right: 10px;
    text-align: center;
    font-size: large;
}

.searchBar button {
    background-color: green;
    border: 1px solid #ccc;
    height: 50px;
    width: 100px;
    border-radius: 30px;
    text-align: center;
    font-size: large;
    transition: background-color 0.3s ease; 
}

.searchBar button:hover {
    background-color: lightgreen;
}

#posts {
    width: 80%;
    margin: 0 auto;
}

.singlePost {
    margin-bottom: 20px;
    background-color: #dee;
    padding: 10px;
    border-radius: 20px;
}

.singlePost h3 {
    text-align: center;
    font-size: 1.5em; 
    margin-bottom: 10px;
}

.singlePost p {
    font-size: 1.2em; 
    line-height: 1.6;
}